<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ERRE PÊ GÊ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">RPG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Armaduras', armors_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Helmos', helmets_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Races', races_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Equipamentos Secundários', secondaries_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Armas', weapons_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Vocações', vocations_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Monstros', monsters_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Habilidades', skills_path, class: 'nav-link' %>
            </li>
          </ul>

          <ul class="navbar-nav mr-0">
            <li class="nav-item">
              <%= link_to 'Seus personagens', characters_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "#{current_user.name} (Deslogar)", destroy_user_session_path, method: :delete, class: 'nav-link' %>        
              <% else %>
                <%= link_to 'Login', new_user_session_path, class: 'nav-link'  %>
              <% end %>
            </li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg %>
        <% end %>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
