<div class="page-header">
  <h1>Listing secondaries</h1>
  <%= link_to new_secondary_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Secondary
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Armor</th>
            <th>Damage</th>
            <th>Dex requirement</th>
            <th>Int requirement</th>
            <th>Name</th>
            <th>Str requirement</th>
            <th>Value</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @secondaries.each do |secondary| %>
        <tr>
            <td><%= secondary.armor %></td>
            <td><%= secondary.damage %></td>
            <td><%= secondary.dex_requirement %></td>
            <td><%= secondary.int_requirement %></td>
            <td><%= secondary.name %></td>
            <td><%= secondary.str_requirement %></td>
            <td><%= secondary.value %></td>
            <td><%= link_to 'Show', secondary %></td>
        <td><%= link_to 'Edit', edit_secondary_path(secondary) %></td>
        <td><%= link_to 'Destroy', secondary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>