<div class="page-header">
  <%= link_to secondaries_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_secondary_path(@secondary), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show secondary</h1>
</div>

<dl class="dl-horizontal">
  <dt>Armor:</dt>
  <dd><%= @secondary.armor %></dd>

  <dt>Damage:</dt>
  <dd><%= @secondary.damage %></dd>

  <dt>Dex requirement:</dt>
  <dd><%= @secondary.dex_requirement %></dd>

  <dt>Int requirement:</dt>
  <dd><%= @secondary.int_requirement %></dd>

  <dt>Name:</dt>
  <dd><%= @secondary.name %></dd>

  <dt>Str requirement:</dt>
  <dd><%= @secondary.str_requirement %></dd>

  <dt>Value:</dt>
  <dd><%= @secondary.value %></dd>

</dl>
