
<%= simple_form_for(@vocation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :minimum_level %>
    <%= f.input :name %>
    <%= f.input :strength_bonus%>
    <%= f.input :inteligence_bonus%>
    <%= f.input :dexterity_bonus %>
    <%= f.input :constitution_bonus %>


    <%= f.input :playable %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
