<div class="page-header">
  <h1>Listing vocations</h1>
  <%= link_to new_vocation_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Vocation
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Minimum level</th>
            <th>Name</th>
            <th>Strength+</th>
            <th>Inteligence+</th>
            <th>Dexterity+</th>
            <th>Constitution+</th>
            <th>Playable</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @vocations.each do |vocation| %>
        <tr>
            <td><%= vocation.minimum_level %></td>
            <td><%= vocation.name %></td>
            <td><%= vocation.strength_bonus %></td>
            <td><%= vocation.inteligence_bonus %></td>
            <td><%= vocation.dexterity_bonus %></td>
            <td><%= vocation.constitution_bonus %></td>
            <td><%= vocation.playable %></td>
            <td><%= link_to 'Show', vocation %></td>
        <td><%= link_to 'Edit', edit_vocation_path(vocation) %></td>
        <td><%= link_to 'Destroy', vocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>