<div class="page-header">
  <%= link_to vocations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_vocation_path(@vocation), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show vocation</h1>
</div>

<dl class="dl-horizontal">
  <dt>Minimum level:</dt>
  <dd><%= @vocation.minimum_level %></dd>

  <dt>Name:</dt>
  <dd><%= @vocation.name %></dd>

  <dt>Gain per level</dt>
  <dd>Strength: <%=@vocation.strength_bonus%></dd>
  <dd>Inteligence: <%=@vocation.inteligence_bonus%></dd>
  <dd>Dexterity: <%=@vocation.dexterity_bonus%></dd>
  <dd>Constitution: <%=@vocation.constitution_bonus%></dd>
  <dt>Playable:</dt>
  <dd><%= @vocation.playable %></dd>


</dl>
<dt>Skills:</dt>
<% @vocation.skills.each do |skill|%>
  <dt>Name: <%= skill.name %></dt>
  <dd>Level: <%= skill.level %></dd>
  <dd>Damage: <%= skill.damage %></dd>
  <dd>Heal: <%= skill.heal %></dd>
  <dd>Str Modifier: <%= skill.str_modifier %></dd>
  <dd>Dex Modifier: <%= skill.dex_modifier %></dd>
  <dd>Int Modifier: <%= skill.int_modifier %></dd>
  <dd>Cons Modifier: <%= skill.cons_modifier %></dd>
<% end %>
