<div class="page-header">
  <h1>Listing weapons</h1>
  <%= link_to new_weapon_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Weapon
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Damage</th>
            <th>Dex requirement</th>
            <th>Int requirement</th>
            <th>Name</th>
            <th>Str requirement</th>
            <th>Two handed</th>
            <th>Value</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @weapons.each do |weapon| %>
        <tr>
            <td><%= weapon.damage %></td>
            <td><%= weapon.dex_requirement %></td>
            <td><%= weapon.int_requirement %></td>
            <td><%= weapon.name %></td>
            <td><%= weapon.str_requirement %></td>
            <td><%= weapon.two_handed %></td>
            <td><%= weapon.value %></td>
            <td><%= link_to 'Show', weapon %></td>
        <td><%= link_to 'Edit', edit_weapon_path(weapon) %></td>
        <td><%= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>