<div class="page-header">
  <%= link_to weapons_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_weapon_path(@weapon), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show weapon</h1>
</div>

<dl class="dl-horizontal">
  <dt>Damage:</dt>
  <dd><%= @weapon.damage %></dd>

  <dt>Dex requirement:</dt>
  <dd><%= @weapon.dex_requirement %></dd>

  <dt>Int requirement:</dt>
  <dd><%= @weapon.int_requirement %></dd>

  <dt>Name:</dt>
  <dd><%= @weapon.name %></dd>

  <dt>Str requirement:</dt>
  <dd><%= @weapon.str_requirement %></dd>

  <dt>Two handed:</dt>
  <dd><%= @weapon.two_handed %></dd>

  <dt>Value:</dt>
  <dd><%= @weapon.value %></dd>

</dl>
