
<%= simple_form_for(@race) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :constitution %>
    <%= f.input :dexterity %>
    <%= f.input :inteligence %>
    <%= f.input :name %>
    <%= f.input :playable %>
    <%= f.input :strength %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
