<div class="page-header">
  <h1>Listing races</h1>
  <%= link_to new_race_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Race
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Constitution</th>
            <th>Dexterity</th>
            <th>Inteligence</th>
            <th>Name</th>
            <th>Playable</th>
            <th>Strength</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @races.each do |race| %>
        <tr>
            <td><%= race.constitution %></td>
            <td><%= race.dexterity %></td>
            <td><%= race.inteligence %></td>
            <td><%= race.name %></td>
            <td><%= race.playable %></td>
            <td><%= race.strength %></td>
            <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>