<div class="page-header">
  <%= link_to races_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_race_path(@race), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show race</h1>
</div>

<dl class="dl-horizontal">
  <dt>Constitution:</dt>
  <dd><%= @race.constitution %></dd>

  <dt>Dexterity:</dt>
  <dd><%= @race.dexterity %></dd>

  <dt>Inteligence:</dt>
  <dd><%= @race.inteligence %></dd>

  <dt>Name:</dt>
  <dd><%= @race.name %></dd>

  <dt>Playable:</dt>
  <dd><%= @race.playable %></dd>

  <dt>Strength:</dt>
  <dd><%= @race.strength %></dd>

</dl>
