
<%= simple_form_for(@monster) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :health %>
    <%= f.input :exp %>
    <%= f.input :armor %>
    <%= f.input :money %>
    <%= f.input :strength %>
    <%= f.input :inteligence %>
    <%= f.input :dexterity %>
    <%= f.input :constitution %>
    <%= f.association :vocation %>
    <%= f.association :race %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
