<div class="page-header">
  <h1>Listing monsters</h1>
  <%= link_to new_monster_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Monster
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Exp</th>
            <th>Armor</th>
            <th>Money</th>
            <th>Strength</th>
            <th>Inteligence</th>
            <th>Dexterity</th>
            <th>Constitution</th>
            <th>Vocation</th>
            <th>Race</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @monsters.each do |monster| %>
        <tr>
            <td><%= monster.name %></td>
            <td><%= monster.health %></td>
            <td><%= monster.exp %></td>
            <td><%= monster.armor %></td>
            <td><%= monster.money %></td>
            <td><%= monster.strength %></td>
            <td><%= monster.inteligence %></td>
            <td><%= monster.dexterity %></td>
            <td><%= monster.constitution %></td>
            <td><%= monster.vocation.name %></td>
            <td><%= monster.race.name %></td>
            <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>