<div class="page-header">
  <%= link_to monsters_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_monster_path(@monster), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show monster</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @monster.name %></dd>

  <dt>Health:</dt>
  <dd><%= @monster.health %></dd>

  <dt>Exp:</dt>
  <dd><%= @monster.exp %></dd>

  <dt>Armor:</dt>
  <dd><%= @monster.armor %></dd>

  <dt>Money:</dt>
  <dd><%= @monster.money %></dd>

  <dt>Strength:</dt>
  <dd><%= @monster.strength %></dd>

  <dt>Inteligence:</dt>
  <dd><%= @monster.inteligence %></dd>

  <dt>Dexterity:</dt>
  <dd><%= @monster.dexterity %></dd>

  <dt>Constitution:</dt>
  <dd><%= @monster.constitution %></dd>

  <dt>Vocation:</dt>
  <dd><%= @monster.vocation.name %></dd>

  <dt>Race:</dt>
  <dd><%= @monster.race.name %></dd>

</dl>
<h1>Monster Skills</h1>
<% @monster.vocation.skills.each do |skill|%>
  <dt>Name: <%= skill.name %></dt>
  <dd>Level: <%= skill.level %></dd>
  <dd>Damage: <%= skill.damage %></dd>
  <dd>Heal: <%= skill.heal %></dd>
  <dd>Str Modifier: <%= skill.str_modifier %></dd>
  <dd>Dex Modifier: <%= skill.dex_modifier %></dd>
  <dd>Int Modifier: <%= skill.int_modifier %></dd>
  <dd>Cons Modifier: <%= skill.cons_modifier %></dd>
<% end %>
