
<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.select :genre, [['Masculino', 'Masculino'], ['Feminino', 'Feminino']] %>
    <%= f.input :age %>
    <%= f.association :race, label: "Raça"%>
    <%= f.association :vocation, label: "Vocação"%>
    <% if current_user.kind == 1 %>
    <%= f.input :level %>
    <%= f.input :exp %>
    <%= f.input :money %>
    <% end %>
    <div class="field">
  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
