<h1><%= @character.name%> is inside the shop</h1>
<h2>Money: <%=@character.money%></h2>

<%= simple_form_for(@character) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :helmet, label: "Helmet"%>
    <%= f.association :armor, label: "Armor"%>
    <%= f.association :weapon, label: "Weapon"%>
    <%= f.association :secondary, label: "Secondary"%>
    <div class="field">
  </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
