<div class="page-header">
  <h1>Listing characters</h1>
  <%= link_to new_character_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Character
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Race</th>
            <th>Vocation</th>
            <th>Level</th>
            <th>Exp</th>
            <th>Age</th>
            <th>Genre</th>
            <th>Money</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @characters.each do |character| %>
        <tr>
            <td><%= character.name %></td>
            <td><%= character.health %></td>
            <td><%= character.race.name %></td>
            <td><%= character.vocation.name %></td>
            <td><%= character.level %></td>
            <td><%= character.exp %></td>
            <td><%= character.age %></td>
            <td><%= character.genre %></td>
            <td><%= character.money %></td>
            <td><%= link_to ('/character/buy/'+character.id.to_s), class:'' do%>Shop<% end %></td>
            <td><%= link_to 'Show', character %></td>
        <td><%= link_to 'Edit', edit_character_path(character) %></td>
        <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>