<div class="page-header">
  <%= link_to characters_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_character_path(@character), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Character</h1>
</div>
<span>
<dl>
  <dt>Name:</dt>
  <dd><%= @character.name %></dd>
  <dt>Health:</dt>
  <dd><%= @character.health%></dd>
  <dt>Level:</dt>
  <dd><%= @character.level %></dd>
  <dt>Vocation:</dt>
  <dd><%= @character.vocation.name %></dd>
  <dt>Race:</dt>
  <dd><%= @character.race.name %></dd>
  <dt>Exp:</dt>
  <dd><%= @character.exp %></dd>

  <dt>Age:</dt>
  <dd><%= @character.age %></dd>

  <dt>Genre:</dt>
  <dd><%= @character.genre %></dd>

  <dt>Money:</dt>
  <dd><%= @character.money %></dd>
</dl>
</span>
<span>
<dl>
<h1> Attributes </h1>
<dt>Strength:</dt>
<dd><%=@character.race.strength + (@character.vocation.strength_bonus * @character.level)%></dd>
<dt>Dexterity:</dt>
<dd><%=@character.race.dexterity + (@character.vocation.dexterity_bonus * @character.level)%></dd>
<dt>Inteligence</dt>
<% if @character.helmet.nil? %>
<dd><%=@character.race.inteligence + (@character.vocation.inteligence_bonus * @character.level)%></dd>
<% else %>
<dd><%=@character.race.inteligence + (@character.vocation.inteligence_bonus * @character.level) + @character.helmet.int_bonus%></dd>
<%end%>
<dt>Constitution</dt>
<dd><%=@character.race.constitution + (@character.vocation.constitution_bonus * @character.level)%></dd>



<dt>Armor</dt>
<% @armor = 0 %>
<%if @character.armor.nil? == false%>
<% @armor = @armor + @character.armor.armor %>
<%end%>
<%if @character.helmet.nil? == false%>
<% @armor = @armor + @character.helmet.armor %>
<%end%>
<%if @character.secondary.nil? == false%>
<% @armor = @armor + @character.secondary.armor %>
<%end%>
<%= @armor%>
</dl>
</span>
<h1>Skills Unlocked</h1>
<% @character.vocation.skills.each do |skill|%>
  <% if skill.level <= @character.level %>
  <dt>Name: <%= skill.name %></dt>
  <dd>Level: <%= skill.level %></dd>
  <dd>Damage: <%= skill.damage %></dd>
  <dd>Heal: <%= skill.heal %></dd>
  <dd>Str Modifier: <%= skill.str_modifier %></dd>
  <dd>Dex Modifier: <%= skill.dex_modifier %></dd>
  <dd>Int Modifier: <%= skill.int_modifier %></dd>
  <dd>Cons Modifier: <%= skill.cons_modifier %></dd>
  <%end %>
<% end %>

<span>
<dl>
<h1>Equipments</h1>
<dt>Helmet:</dt>
<% if @character.helmet.nil? %>
<dd>None</dd>
<% else %>
<dd><%= @character.helmet.name %></dd>
<% end %>

<dt>Armor:</dt>
<% if @character.armor.nil? %>
<dd>None</dd>
<% else %>
<dd><%= @character.armor.name %></dd>
<% end %>

<dt>Weapon:</dt>
<% if @character.weapon.nil? %>
<dd>None</dd>
<% else %>
<dd><%= @character.weapon.name %></dd>
<% end %>

<dt>Secondary:</dt>
<% if @character.secondary.nil? %>
<dd>None</dd>
<% else %>
<dd><%= @character.secondary.name %></dd>
<% end %>
</dl>
</span>