
<%= simple_form_for(@helmet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :armor %>
    <%= f.input :cons_requirement %>
    <%= f.input :int_bonus %>
    <%= f.input :int_requirement %>
    <%= f.input :name %>
    <%= f.input :str_requirement %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
