<div class="page-header">
  <h1>Listing helmets</h1>
  <%= link_to new_helmet_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Helmet
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Armor</th>
            <th>Cons requirement</th>
            <th>Int bonus</th>
            <th>Int requirement</th>
            <th>Name</th>
            <th>Str requirement</th>
            <th>Value</th>
            <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @helmets.each do |helmet| %>
        <tr>
            <td><%= helmet.armor %></td>
            <td><%= helmet.cons_requirement %></td>
            <td><%= helmet.int_bonus %></td>
            <td><%= helmet.int_requirement %></td>
            <td><%= helmet.name %></td>
            <td><%= helmet.str_requirement %></td>
            <td><%= helmet.value %></td>
            <td><%= link_to 'Show', helmet %></td>
        <td><%= link_to 'Edit', edit_helmet_path(helmet) %></td>
        <td><%= link_to 'Destroy', helmet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>