<div class="page-header">
  <%= link_to helmets_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_helmet_path(@helmet), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show helmet</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @helmet.name %></dd>
  <dt>Armor:</dt>
  <dd><%= @helmet.armor %></dd>
  <dt>Value:</dt>
  <dd><%= @helmet.value %></dd>

  <dt>Cons requirement:</dt>
  <dd><%= @helmet.cons_requirement %></dd>

  <dt>Int bonus:</dt>
  <dd><%= @helmet.int_bonus %></dd>

  <dt>Int requirement:</dt>
  <dd><%= @helmet.int_requirement %></dd>

  <dt>Str requirement:</dt>
  <dd><%= @helmet.str_requirement %></dd>

</dl>
