<div class="page-header">
  <h1>Listing armors</h1>
  <%= link_to new_armor_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Armor
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Armor</th>
            <th>Cons requirement</th>
            <th>Name</th>
            <th>Str requirement</th>
            <th>Value</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @armors.each do |armor| %>
        <tr>
            <td><%= armor.armor %></td>
            <td><%= armor.cons_requirement %></td>
            <td><%= armor.name %></td>
            <td><%= armor.str_requirement %></td>
            <td><%= armor.value %></td>
            <td><%= link_to 'Show', armor %></td>
        <td><%= link_to 'Edit', edit_armor_path(armor) %></td>
        <td><%= link_to 'Destroy', armor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>