<div class="page-header">
  <%= link_to armors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_armor_path(@armor), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show armor</h1>
</div>

<dl class="dl-horizontal">
  <dt>Armor:</dt>
  <dd><%= @armor.armor %></dd>

  <dt>Cons requirement:</dt>
  <dd><%= @armor.cons_requirement %></dd>

  <dt>Name:</dt>
  <dd><%= @armor.name %></dd>

  <dt>Str requirement:</dt>
  <dd><%= @armor.str_requirement %></dd>

  <dt>Value:</dt>
  <dd><%= @armor.value %></dd>

</dl>
