
<%= simple_form_for(@skill) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :damage %>
    <%= f.input :heal %>
    <%= f.input :str_modifier %>
    <%= f.input :dex_modifier %>
    <%= f.input :int_modifier %>
    <%= f.input :cons_modifier %>
    <%= f.input :level %>
    <%= f.association :vocation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
