<div class="page-header">
  <h1>Listing skills</h1>
  <%= link_to new_skill_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Skill
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Damage</th>
            <th>Heal</th>
            <th>Str modifier</th>
            <th>Dex modifier</th>
            <th>Int modifier</th>
            <th>Cons modifier</th>
            <th>Level</th>
            <th>Vocation</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @skills.each do |skill| %>
        <tr>
            <td><%= skill.name %></td>
            <td><%= skill.damage %></td>
            <td><%= skill.heal %></td>
            <td><%= skill.str_modifier %></td>
            <td><%= skill.dex_modifier %></td>
            <td><%= skill.int_modifier %></td>
            <td><%= skill.cons_modifier %></td>
            <td><%= skill.level %></td>
            <td><%= skill.vocation.name %></td>
            <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>