<div class="page-header">
  <%= link_to skills_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_skill_path(@skill), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show skill</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @skill.name %></dd>

  <dt>Damage:</dt>
  <dd><%= @skill.damage %></dd>

  <dt>Heal:</dt>
  <dd><%= @skill.heal %></dd>

  <dt>Str modifier:</dt>
  <dd><%= @skill.str_modifier %></dd>

  <dt>Dex modifier:</dt>
  <dd><%= @skill.dex_modifier %></dd>

  <dt>Int modifier:</dt>
  <dd><%= @skill.int_modifier %></dd>

  <dt>Cons modifier:</dt>
  <dd><%= @skill.cons_modifier %></dd>

  <dt>Level:</dt>
  <dd><%= @skill.level %></dd>

  <dt>Vocation:</dt>
  <dd><%= @skill.vocation.name %></dd>

</dl>
